<div id="hola">
    <div id="preloader">
<img src="../../assets/images/preload_logo.svg" alt=""/> </div>
        </div>
<main>
<div class="cd-index cd-main-content">
<div class="heady">
<div class="logo"><a href="index.html"><img src="../../assets/images/logo.svg" alt="logo"/></a></div>
<div class="navitems">
    <div class="navcolumn">
    <h2>About</h2>
    <p>Home</p>
    <a class="cd-btn" href="about.html#top" data-type="page-transition">My Story</a>
</div>
<div class="navcolumn">
    <h2>Work</h2>
    <a class="cd-btn" href="londonborn.html#top" data-type="page-transition">London Born</a>
    <a class="cd-btn" href="subaru.html#top" data-type="page-transition">Subaru</a>
    <a class="cd-btn" href="valeyo.html#top" data-type="page-transition">Valeyo</a>
</div>

<div class="navcolumn">
    <h2>Contact</h2>
    <a class="cd-btn" href="contact.html#top" data-type="page-transition">Let's Talk</a>
</div>
</div>
<div class="bubbleback"></div>
<div class="bubble"></div>
<div class="bubble-wrap">
<div class="bar first"></div>
<div class="bar second"></div>
<div class="bar third"></div>
</div>

</div>
<a class="leftylink cd-btn" href="about.html" data-type="page-transition">About Me</a>
<a class="rightylink cd-btn" href="contact.html" data-type="page-transition">Contact Me</a>
<div class="footleft"><p>© Andy Patrick 2018</p></div>
<div class="footright"><a href="https://dribbble.com/handyandydesign" target="_blank"><img src="../../assets/images/Dribbble.png" width="" height="" alt=""/></a><a href="https://twitter.com/handyandydesign" target="_blank"><img src="../../assets/images/Twitter.png" width="" height="" alt=""/></a><a href="https://www.linkedin.com/in/andy-patrick-09a1b425/" target="_blank"><img src="../../assets/images/linkedin.png" width="" height="" alt=""/></a></div>
<div class="leftbar"></div>
<div class="rightbar"></div>
<div class="planewrap"><img id="plane" class="planey" src="../../assets/images/plane.png" width="100%" alt=""/><img class="planeymob" src="../../assets/images/plane.png" width="100%" alt=""/></div>
<div class="wrapper homery">
<div class="banner"><a name="top"></a>
<div class="bannertxt">
<div class="bannersplat">
<!-- <div class="scotty"><img src="../../assets/images/scotland.png" width="" height="" alt=""/></div> -->
<div class="fluid">
</div>
<div class="fluiddark">
     </div>
</div>
<h1 style="color:#333333;">
<span class="word">BLOOD &nbsp; DONATION &nbsp; CAMP</span>
<span class="word">BLOOD &nbsp; DONATION &nbsp; CAMP</span>
<span class="word">BLOOD &nbsp; DONATION &nbsp; CAMP</span>
</h1>
<br>
<h1 style="color:#333333;">
<span style="font-size:4vw;font-weight: lighter;">Mechanical Block</span>
<div style="font-size:4vw">4th March</div>

</h1>
</div>

<div class="scroll bounce"></div>

</div>

<div class="about">
<div class="abouttext"><h2 class="hideme" style="color:#333333;">About BDC 2020</h2> <p class="hideme" style="color:#333333;">I'm a digital designer that made the trip across the pond from Glasgow, Scotland to <a href="https://twitter.com/hashtag/hamont" target="_blank">#HamOnt</a>, Canada, in 2010. Now I work @ <a href="http://jankelley.com/" target="_blank">Jan Kelley</a> in Burlington as UX Lead and Senior Art Director.</p></div>
<div class="skillz group">
    <div class="direction"><div class="skillzpic hideme"><img src="../../assets/images/direction.png" width="" height="" alt=""/></div><div class="fluid skilly"></div> <h3 class="hideme">Strong Direction</h3><p class="hideme">My day-to-day involves giving direction on UX strategy, architecture and design as well as being hands on when it comes to visually positioning brands like Topper’s Pizza and Mr. Lube.</p></div>
    <div class="strategy"><div class="skillzpic2 hideme"><img src="../../assets/images/strategy.png" width="" height="" alt=""/></div><div class="fluid skillyright"></div><h3 class="hideme">Deep Strategy</h3><p class="hideme">I bring strategic thought to the forefront with every project. I always take the time to do the research and use it to create great experiences that deliver on user needs and business objectives.</p></div>
    <div class="design"><div class="skillzpic hideme"><img src="../../assets/images/design.png" width="" height="" alt=""/></div><div class="fluid skilly"></div><h3 class="hideme">Rockin' Design</h3><p class="hideme">Being creative is at the heart of everything I do. I’m obsessed with current trends and always strive to create “what’s next in design” to get brands noticed and push them forward.</p></div>
</div>
</div>
<div class="work">
<div class="work1 group">
<div class="workpic">
 <div class="homework1"><img src="../../assets/images/londonborn-device.png" width="" height="" alt=""/></div>
<div class="homeworksplat">
<div class="fluidbig">
</div>
</div></div>
<div class="workintro">
<div class="worktext"><h3 class="hideme">London Born</h3><p class="hideme">Aure Wines needed to improve their presence in the Ontario wine market. And considering the roots of their family-owned winery reached back to Britain, soon the London Born Wine Company was, well, born. As part of the bold rebrand, a strong online presence was needed.</p> <a class="cd-btn hideme" href="londonborn.html#top" data-type="page-transition">View Work</a></div>
</div>
</div>
<div class="work2 group">
<div class="workpic2">
<div class="homework2"><img src="../../assets/images/subaru-device.png" width="" height="" alt=""/></div>
 <div class="homeworksplat2">
<div class="fluidbig righty">
</div>
</div></div>
<div class="workintro2">
<div class="worktext2"><h3 class="hideme">Subaru</h3><p class="hideme">This Subaru Dealer was looking to change it up and have a dynamic site that focused on design and usability. They were looking to help people find the car they wanted easily. And, in doing so, the Dealer found some strong results.</p> <a class="cd-btn hideme" href="subaru.html" data-type="page-transition">View Work</a></div>
</div>
</div>
<div class="work3 group">
<div class="workpic">
 <div class="homework3"><img src="../../assets/images/valeyo-device.png" width="" height="" alt=""/></div>
<div class="homeworksplat">
<div class="fluidbig">
</div>
</div></div>
<div class="workintro hideme">
<div class="worktext"><h3>Valeyo</h3><p>Valeyo is more than an insurance provider. They are a SAAS company who needed a clear and concise way to provide information about its technological offerings for its prospective clients.</p> <a class="cd-btn hideme" href="valeyo.html#top" data-type="page-transition">View Work</a></div>
</div>
</div>
</div>
<div class="workclose"><img src="../../assets/images/wavy2.png" width="" height="" alt=""/></div>
<div class="contactbanner">
<div class="contacttxt">
<h1 class="hideme">I've landed, let's <a class="cd-btn" href="contact.html#top" data-type="page-transition">talk</a></h1>
</div>
<div class="bannersplatfoot">
<div class="canada"><img src="../../assets/images/Canada.png" width="" height="" alt=""/></div>
<div class="fluid">
</div>
<div class="fluiddark">
</div>
</div>
</div>

</div></div>
</main>