/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

#name1{
    font-weight: 0;
}
/* scrollbar */
.font_sans {
    font-family: 'Open sans';
    font-weight:lighter !important;
}
.description {
    font-size:20px;
}
.container_gallery {
    padding:4% 6%;
}
/* loader */
.loader {
    height:20rem;
    animation:beat 0.5s infinite alternate;
    transform-origin:center;
}
@keyframes beat {
    to { transform:scale(1.4); }
}
/* loader */
.car{
    padding: 2% 6%;
}
.about_bdc {
    margin:10% auto 0% !important;
}
.location, .date {
    font-size:5rem;
}
.gallery_image {
    padding:20px;
}
.word {
	position: absolute;
	font-family: 'Open Sans', !important;
    width: 100%;
    left: 0;
  	/* opacity: 0; */
  	font-size:4vw;
	letter-spacing:3px;
	color: white;
}
.form-control {
    font-size:16px;
}
.donate_contain {
    margin-top:4%;
}
@media screen and (min-width: 1024px) {
    .location {
        letter-spacing:0.5px;
        font-size:5rem;
    }
    .date {
        letter-spacing:0.5px;
        font-size:5rem;
    }
}
@media only screen and (max-width: 768px) {
    .location {
        letter-spacing:0.5px;
        font-size:4rem;
    }
    .date {
        letter-spacing:0.5px;
        font-size:4rem;
    }
    .text_sm {
        text-align:justify!important;
    }
    .word {
        font-size:3rem;
    }
}
@media only screen and (max-width: 456px) {
    .location {
        letter-spacing:0.5px;
        font-size:3rem;
    }
    .date {
        letter-spacing:0.5px;
        font-size:3rem;
    }
    .donate_contain {
        margin-top:20%;
    }
    .loader {
        height:10em !important; 
    }
}
@media only screen and (max-width: 426px) {
    .location {
        letter-spacing:0.5px;
        font-size:2.5rem;

    }
    .date {
        letter-spacing:0.5px;
        font-size:2.5rem;
    }
    .donate_contain {
        margin-top:20%;
    }
    .loader {
        height:10em !important; 
    }
    
}
@media only screen and (max-width: 375px) {
    .location {
        letter-spacing:0.5px;
        font-size:2rem;
        
    }
    .date {
        letter-spacing:0.5px;
        font-size:2rem;
    }
    .land{
        margin-top: 3rem;
    }
    .loader {
        height:10em !important; 
    }
}
@media only screen and (max-width: 320px) {
    .location {
        letter-spacing:0.5px;
        font-size:2rem;
    }
    .date {
        letter-spacing:0.5px;
        font-size:2rem;
    }
    .loader {
        height:7em !important; 
    }
}
.heading_gallary{
    color:#ffffff;
    font-family: 'open sans';
    text-align: center!important;
    font-size:4rem;
}

.team_info {
    padding-left:12%;
}

.convenor_team40{
    padding: 0 46em;
}

.convenor_team{
    padding: 0 1.8em !important;
}

.convenors_border{
    border-width: 1.5px 1.5px 0 1.5px;
    border-color: white;
    border-style: solid;
    text-align: center;
    
}

.convenor_information{
    border-width: 0 1.5px 1.5px 1.5px;
    font-family:'open sans';
    border-color: white;
    border-style: solid;
    color:white;
    text-align: center;

}

.convenor_name{
    font-family: 'open sans';
    font-size:16px;
    /* font-weight: 100 !important; */
}
.convenor_type{
    font-size:15px;
}

.convenor_image{
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    filter: grayscale(100%);
    padding:0px 3%;
}

@media only screen and (max-width: 1445px) {
    .heading_gallary {
        font-size:65px; 
        letter-spacing: 1px;
    }
    .convenor_row{
        margin: 0 auto;
        padding-left: 1.1%;
    }
    .convenor_name{
        font-size:17px;
    }
    .convenor_type{
        font-size:15px;
    }
    .convenor_team{
        margin: 0 1.5%;
        padding: 0 1.4em;
    }
    
}

@media only screen and (max-width: 1025px) {
    .heading_gallary {
        font-size:60px; 
        letter-spacing: 1px;
    }
    .convenor_row{
        margin: 0 auto;
        padding-left: 5.3%;
    }
    .convenor_name{
        font-size:17px;
    }
    .convenor_type{
        font-size:15px;
    }
    .convenor_team{
        margin: 0 1%;
        padding: 0 0.7em;
    }
    
}

@media only screen and (max-width: 770px) {
    .heading_gallary {
        font-size:48px; 
        letter-spacing: 1px;
    }
    .convenor_row{
        margin: 0 auto;
        padding-left:0;
    }
    .convenor_name{
        font-size:15px;
    }
    .convenor_type{
        font-size:14px;
    }
    .convenor_team{
        margin: 0;
        padding: 0 2em;
    }
    .convenor_team2{
        margin: 1% 0;
        padding: 0 4em;
        margin-left:8.5%;
    }
    .convenor_team3{
        margin: 1% 0%;
        padding: 0 4em;
        margin-right: 5.5%;
    }
    
}

@media only screen and (max-width: 456px) {
    .heading_gallary {
        font-size:48px; 
        letter-spacing: 1px;
    }
    .land{
        margin-top: 2.5rem;
    }
    .convenor_row{
        padding-left:1%;
    }
    .convenor_name{
        font-size:13px;
    }
    .convenor_type{
        font-size:12px;
    }
    .convenor_team{
        padding: 0 12em !important;
    }
    .convenor_team2{
        margin:0;
        padding: 0 12em !important;
        margin-left:0;
    }
    .convenor_team3{
        margin:0;
        padding: 0 12em !important;
        margin-left:0;
    }
    .text {
        font-size: 25px;
        font-weight:500;
        margin-top:2%;
    }
    
}

@media only screen and (max-width: 376px) {
    .heading_gallary {
        font-size:40px; 
        letter-spacing: 1px;
    }
    .convenor_row{
        padding-left:1%;
    }
    .convenor_name{
        font-size:13px;
    }
    .convenor_type{
        font-size:12px;
    }
    .convenor_team{
        padding: 0 7.7em!important;
    }
    .convenor_team2{
        margin:0;
        padding: 0 7.7em!important;
        margin-left:0;
    }
    .convenor_team3{
        margin:0;
        padding: 0 7.7em!important;
        margin-left:0;
    }
    
}

@media only screen and (max-width: 325px) {
    .heading_gallary {
        font-size:35px; 
        letter-spacing: 1px;
    }
    .convenor_row{
        padding-left:1%;
    }
    .convenor_name{
        font-size:13px;
    }
    .convenor_type{
        font-size:12px;
    }
    .convenor_team{
        padding: 0 7.5em !important;
    }
    .convenor_team2{
        margin:0;
        padding: 0 7.5em!important;
        margin-left:0;
    }
    .convenor_team3{
        margin:0;
        padding: 0 7.5em!important;
        margin-left:0;
    }
}

.text {
    color: red;
    font-size: 35px;
    margin-top:1%;
    font-weight: 800;
}

@keyframes tada {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    10%,
    20% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
      transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }
  
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
  
    40%,
    60%,
    80% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  

.animation:hover {
    animation-name: tada;
}

.idse18{
    color: #FFF;
    /* font-size: 2.2rem; */
    /* border-bottom: solid 5px; */
    padding-bottom: .5rem;
    /* border-image: linear-gradient(to right, #090930 , #ED0b0e, #090930) 1 ; */  
}



.idse18title{
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
input{
    padding:15px;
    font-family:'open sans';
}
select{
    font-size: 16px;
    font-family:'open sans';
}
input,select{
    background-color:transparent;
    color: white;
    border:#fff solid 1px;
}

/* input,select {
    padding:15px;
} */

input:focus, select:focus{
    border: #E9234D solid 1px;
    background-color:#0f131c;
    box-shadow: 0px 0px 10px #E9234D;
    color: white;
}

.regform, select{
    color: white;
    font-weight: 400;
}

option{
    color: white;
    background-color: #0f131c;
}


.validation{
    font-size: 1.2rem;
    font-family:'open sans';
    margin-top: -0.5em;
    font-weight: 300;
    /* display: none; */
    color: red;
}


.btn2{
    background:none;
    border: #E9234D solid 2px;
    text-transform: uppercase;
    margin: 2rem 0rem;
    padding: 0.2rem 7rem;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 1.5s;
    color:#fff;
    position: relative;
    border-radius: 100px;
}

.btn2:hover{
    box-shadow: 0 7px 30px 0 #E9234D inset, 0 7px 30px 0 #E9234D,
                0 7px 30px 0 #E9234D inset, 0 7px 30px 0 #E9234D;
    text-shadow: 0 0 5px #E9234D, 0 0 5px #E9234D;
}
.regis_btn {
    border:1.5px solid #EB1C24;
    padding:5px 8%;
    color:#EB1C24;
    font-size:16px;
    background-color: transparent;
}
.regis_btn:hover {
    background-color: #EB1C24;
    color:#fff;
    transition: all 0.4s;
}
.regis_btn_top {
    border:0px;
    padding:8px 4%;
    background:linear-gradient(to right,#ED0B0E,#7d0013);
    font-size:16px;
    color:#fff;
    border-radius:5px;
    z-index:500 !important;
}
.regis_inner {
    background-color:transparent;
    border:0px;
    color:#fff;
}
.regis_inner:focus {
    outline:none;
}
/* .btn::before{
    content: "";
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:#ED0b0e ;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
    
}
.btn1::before{
    transform: scaleX(0);
}
 .btn1:hover::before{
    transform: scaleX(1);} */

input.ng-invalid.ng-touched{
    border: red 1px solid;
}

[hidden] {
    display: none !important;
  }

.captcha{
    margin-right: 1rem;
    margin-top: 1rem;
}

.capbtn{
    margin-top: 3rem;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff38; /* Black background with opacity */
    z-index: 10000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

@media only screen and (max-width: 768px){
    .idse18{
        font-size: 1.5rem;
        /* border-bottom: solid 4px; */
        padding-bottom: .2rem;
    }

    .idse18title{
        margin-bottom: 1rem;
    }

    input:focus{
        box-shadow: 0px 0px 8px #E9234D
    }

    
    .regform, select{
        color: white;
        font-weight: 300;
    }

    .regbtn{
        margin: 1rem 0rem;
        padding: 0.1rem 3rem;
        font-size: 1.2rem;
        font-weight: 300;
    }

    .captcha{
        margin-right: 0rem;
    }

    .capbtn{
        margin-top: 1rem;
    }
}

.organiser_row {
    padding-left:10%;
}

.organiser_team{
    padding: 0 1.8em;
    margin:0 3%;
}


.organiser_name{
    font-size:16px;
    
}
.organiser_type{
    font-size:15px;
}

.organising_team{
    margin:0 0%;
    padding: 0 46em;
    margin-bottom: 2%;
}

@media only screen and (max-width: 1445px) {
    .heading_gallary {
        font-size:65px; 
        letter-spacing: 1px;
    }
    .organiser_row{
        margin: 0 auto;
        padding-left: 2%;
    }
    .organiser_name{
        font-size:16px;
    }
    .organiser_type{
        font-size:15px;
    }
    .organiser_team{
        margin: 0 4%;
        padding: 0 1.4em;
    }
    .organising_team{
        margin:0 -0.9%;
        padding: 0 45em;
        margin-bottom: 4%;
    }
    
}

@media only screen and (max-width: 1025px) {
    .heading_gallary {
        font-size:60px; 
        letter-spacing: 1px;
    }
    .organiser_row{
        margin: 0 auto;
        padding-left: 3%;
    }
    .organiser_name{
        font-size:16px;
    }
    .organiser_type{
        font-size:15px;
    }
    .organiser_team{
        margin: 0 4%;
        padding: 0 0.7em;
    }
    .organising_team{
        margin:0 -2%;
        padding: 0 34em;
        margin-bottom: 4%;
    }
    
}

@media only screen and (max-width: 770px) {
    .heading_gallary {
        font-size:48px; 
        letter-spacing: 1px;
    }
    .organiser_row{
        margin: 0 auto;
        padding-left:12%;
    }
    .organiser_name{
        font-size:14px;
    }
    .organiser_type{
        font-size:13px;
    }
    .organiser_team{
        margin: 0;
        padding: 0 4.5em;
    }
    .organising_team{
        margin: 0 15%;
        padding: 0 15em;
        margin-bottom: 1%;
    }
    
}

@media only screen and (max-width: 456px) {
    .heading_gallary {
        font-size:48px; 
        letter-spacing: 1px;
    }
    .organiser_row{
        padding-left:1%;
    }
    .organiser_name{
        font-size:13px;
    }
    .organiser_type{
        font-size:12px;
    }
    .organiser_team{
        padding: 0 10em;
    }
    .organising_team{
        padding: 0 4.5em;
        margin-bottom: 1%;
    }
    .convenor_team2{
        margin:0;
        padding: 0 10em;
        margin-left:0;
    }
    
}

@media only screen and (max-width: 376px) {
    .heading_gallary {
        font-size:40px; 
        letter-spacing: 1px;
    }
    .organiser_row{
        padding-left:1%;
    }
    .organiser_name{
        font-size:13px;
    }
    .organiser_type{
        font-size:12px;
    }
    .organiser_team{
        padding: 0 8em;
    }
    .organising_team{
        padding: 0 3em;
        margin-bottom: 1%;
    }
    .convenor_team2{
        margin:0;
        padding: 0 8em;
        margin-left:0;
    }
    
}

@media only screen and (max-width: 325px) {
    .heading_gallary {
        font-size:35px; 
        letter-spacing: 1px;
    }
    .organiser_row{
        padding-left:1%;
    }
    .organiser_name{
        font-size:13px;
    }
    .organiser_type{
        font-size:16px;
    }
    .organiser_team{
        padding: 0 6em;
    }
    .organising_team{
        padding: 0 1.2em;
        margin-bottom: 1%;
    }
    .convenor_team2{
        margin:0;
        padding: 0 6em;
        margin-left:0;
    }
}

/* footer */
  
.foot{
    background-image: linear-gradient(to bottom, #0e131c , #ED0b0e )!important;
    z-index:5000;
    /* height: 90px; */
    font-family:'open sans';
}
.container-fluid{
    padding: 0;
    margin: 0;
}

.dd{
    color: white;
    text-align: center;
    padding-top: 2rem;
    font-size: 1.5rem;
    padding-bottom: 2rem;
    
}

.si{
    color: #007bff !important;
}
.si:hover {
    text-decoration: none;
}


@media only screen and (max-width: 768px){
    .dd{
        text-align: center;
        padding: 1rem 5rem;
        font-size: 1rem;
        
    }
/* 
    .foot{
        margin-top: 1rem;
    } */

}
/* footer */