<style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap');
</style>

<div id="hola">
    <div id="preloader">
<img src="../../assets/images/preload_logo.svg" alt=""/> </div>
        </div>
<main>
<div class="cd-index cd-main-content">
<div class="heady">
<div class="logo"><a href="index.html"><img src="../../assets/images/logo2.png" alt="logo"/></a></div>
<div class="navitems">
    <div class="navcolumn">
    <h2>About</h2>
    <p>Home</p>
    <a class="cd-btn" href="about.html#top" data-type="page-transition">My Story</a>
</div>
<div class="navcolumn">
    <h2>Work</h2>
    <a class="cd-btn" href="londonborn.html#top" data-type="page-transition">London Born</a>
    <a class="cd-btn" href="subaru.html#top" data-type="page-transition">Subaru</a>
    <a class="cd-btn" href="valeyo.html#top" data-type="page-transition">Valeyo</a>
</div>

<div class="navcolumn">
    <h2>Contact</h2>
    <a class="cd-btn" href="contact.html#top" data-type="page-transition">Let's Talk</a>
</div>
</div>
<!-- <div class="bubbleback"></div>
<div class="bubble"></div> -->
<div class="bubble-wrap">
<!-- <div class="bar first"></div>
<div class="bar second"></div>
<div class="bar third"></div> -->
<div class="logo"><a href="index.html"><img src="../../assets/images/logo2.png" alt="logo"/></a></div>
</div>

</div>
<a class="leftylink cd-btn" href="about.html" data-type="page-transition">ROTARY CLUB,GHAZIABAD</a>
<a class="rightylink cd-btn" href="contact.html" data-type="page-transition">AJAY KUMAR GARG ENGINEERING COLLEGE,GHAZIABAD</a>
<div class="footleft"><p style="font-family: 'open sans'; font-weight: light;margin-bottom: 0.5rem;">Donated by</p>
    <p style="font-family: 'open sans'; font-weight: light;">SOFTWARE INCUBATOR</p>
</div>
<div class="footright">
    <a href="http://silive.in/" target="_blank"><img src="../../assets/images/silogo.png" width="" height="" alt=""/></a>
</div>
<div class="leftbar"></div>
<div class="rightbar"></div>
<div class="planewrap"><img id="plane" class="planey" src="../../assets/images/plane.png" width="100%" alt=""/><img class="planeymob" src="../../assets/images/plane.png" width="100%" alt=""/></div>
<div class="wrapper homery">
<div class="banner"><a name="top"></a>
<div class="bannertxt">
<div class="bannersplat">
<!-- <div class="scotty"><img src="../../assets/images/scotland.png" width="" height="" alt=""/></div> -->
<div class="fluid">
</div>
<div class="fluiddark">
     </div>
</div>
<h1 style="color:#ffffff;">
<span class="word">BLOOD DONATION CAMP</span>
<span class="word">BLOOD DONATION CAMP</span>
<span class="word">BLOOD DONATION CAMP</span>
</h1>
<br>
<h1 style="color:#ffffff;">
<span class="location" style="font-size:4vw;font-weight: lighter;">Mechanical Block</span>
<div class="date" style="font-size:4vw">4th March</div>

</h1>
</div>

<!-- <div class="scroll bounce"> -->
    <div class="row justify-content-center no-gutter bounce" style="margin-top:4%;">
        <a href="#register_head" class="regis_btn_top"><button type="submit" class="regis_inner">DONATE</button></a>
    </div>
<!-- </div> -->

</div>

<div class="about">
<div class="abouttext about_bdc">
    <h2 class="hideme" style="font-size:3vw">About <span style="color: red;">BDC 2020</span> </h2> 
    <p class="hideme" style="font-size:1.5vw;font-weight:100">Ajay Kumar Garg Engineering College, in keeping with its policy of commitment towards society and to sensitize the students accordingly, organizing its annual <span style="color: red;"> Blood Donation Camp</span> in collaboration with Rotary Club Sahibabad & Vardaan Multispecialty Hospital Blood Bank.</p>
</div>
<div class="skillz group">
    <div class="direction">
        <div class="skillzpic hideme"><img src="../../assets/images/direction.png" width="" height="" alt=""/></div>
        <div class="fluid skilly"></div> 
        <h3 class="hideme font_sans" style="font-size:3vw">Social Awareness</h3>
        <p class="hideme font_sans">
            Without pain there is no gain. 
            It becomes exemplary when blood donation comes into spotlight, your little effort could give a gift of life to someone else. 
            According to a WHO report, out of the needed 12 million units of blood only 9 million units are available. 
            More than 38, 000 donations are needed per day. 
            All these problems can be solved, if you just spare 5 minutes of your life to donate blood.
            <br>
            <br>
            Your 1 pint blood can be a life saviour for that accident victim or that cancer patient.
                <br>
                <br> Moreover, blood donation safety will be ensured by AKGEC, itself.
                 All the vials and syringes will be safe to use. Every one will follow a proper code of conduct to ensure your safety.
        </p>
    </div>
    <div class="strategy">
        <div class="skillzpic2 hideme"><img src="../../assets/images/strategy.png" width="" height="" alt=""/></div>
        <div class="fluid skillyright"></div>
        <h3 class="hideme font_sans" style="font-size:3vw">Myths</h3>
        <div class="hideme font_sans description">
            <p class="hideme font_sans">Giving blood hurts and in time consuming.</p>
            <p class="hideme font_sans"> Blood donation isn't for women.</p> 
            <p class="hideme font_sans">Health deteriorates after donating blood.</p>
            <p class="hideme font_sans">If you smoke, you cannot be a blood donor.</p>
            <p class="hideme font_sans">A blood donor is prone to infection.</p>
            <p class="hideme font_sans">There is limited blood in the body and
            <br>it is unhealthy to give some away.</p> 
        </div>
    </div>
    <div class="design">
        <div class="skillzpic hideme"><img src="../../assets/images/design.png" width="" height="" alt=""/></div>
        <div class="fluid skilly"></div>
        <h3 class="hideme font_sans" style="font-size:3vw">Facts</h3>
        <div>
            <p class="hideme font_sans">The gift of blood is the gift of life. There is no substitute for human blood.</p> 
            <p class="hideme font_sans"> Donors can give either whole blood or specific blood components only. </p>
            <p class="hideme font_sans"> One blood donation can save the lives of up to three people.</p>
            <p class="hideme font_sans">The blood type most often requested by hospitals is type O. </p>
        </div>
    </div>
</div>
</div>

<div class="abouttext_gallery car">
<h4 class="heading_gallary">GALLERY </h4>

    <div id="carouselExampleIndicators" class="carousel slide gallery mx-auto" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner gallery_image">
          <div class="carousel-item active">
            <img class="d-block w-100" src="../../assets/images/gal1.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/images/gal2.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/images/gal3.jpg" alt="Third slide">
          </div>
        </div>
      </div>
</div>

<div class="container abouttext">
<!--Convenors-->

<h2 class="heading_gallary mb-4 mt-4">CONVENORS</h2>
<div class="row convenor_row">
<div class="col-xs-2 col-sm-3 col-md-3 col-lg-2 px-4 convenor_team">
    <div class="convenors_border">
    <div class="convenor_image animation">
        <img src="../../assets/images/conyenor.jpg" height="170" width="170" class="img-fluid px-1 pt-3">
    </div>
</div>
<div class="convenor_information mt-4 mb-2">
    <h5>MUSKAN AGRAWAL</h5>
    <h5 class="py-2">Convenor</h5> 
</div>
</div>

<div class="col-xs-2 col-sm-3 col-md-3 col-lg-2 px-4 convenor_team">
    <div class="convenors_border">
    <div class="convenor_image animation">
        <img src="../../assets/images/conyenor.jpg" height="170" width="170" class="img-fluid px-1 pt-3">
    </div>
</div>
<div class="convenor_information mt-4 mb-2">
   <h5>MUSKAN AGRAWAL</h5>
   <h5 class="py-2">Convenor</h5>
</div>
</div>

<div class="col-xs-2 col-sm-3 col-md-3 col-lg-2 px-4 convenor_team">
    <div class="convenors_border">
    <div class="convenor_image animation">
        <img src="../../assets/images/conyenor.jpg" height="170" width="170" class="img-fluid px-1 pt-3">
    </div>
</div>
<div class="convenor_information mt-4 mb-2">
    <h5>MUSKAN AGRAWAL</h5>
    <h5 class="py-2">Convenor</h5> 
</div>
</div>

<div class="col-xs-2 col-sm-3 col-md-3 col-lg-2 px-4 convenor_team">
    <div class="convenors_border">
    <div class="convenor_image animation">
        <img src="../../assets/images/conyenor.jpg" height="170" width="170" class="img-fluid px-1 pt-3">
    </div>
</div>
<div class="convenor_information mt-4 mb-2">
    <h5>MUSKAN AGRAWAL</h5>
    <h5 class="py-2">Convenor</h5> 
</div>
</div>

<div class="col-xs-2 col-sm-3 col-md-3 col-lg-2 px-4 convenor_team">
    <div class="convenors_border">
    <div class="convenor_image animation">
        <img src="../../assets/images/conyenor.jpg" height="170" width="170" class="img-fluid px-1 pt-3">
    </div>
</div>
<div class="convenor_information mt-4 mb-2">
    <h5>MUSKAN AGRAWAL</h5>
    <h5 class="py-2">Convenor</h5> 
</div>
</div>
</div>
<!--/Convenors-->

<!--Convenors-->

<h2 class="heading_gallary mb-4" style="margin-top:6%;">WEB TEAM</h2>
<div class="row convenor_row">
<div class="col-xs-2 col-sm-3 col-md-3 col-lg-2 px-4 convenor_team">
    <div class="convenors_border">
    <div class="convenor_image animation">
        <img src="../../assets/images/conyenor.jpg" height="170" width="170" class="img-fluid px-1 pt-3">
    </div>
</div>
<div class="convenor_information mt-4 mb-2">
    <h5>MUSKAN AGRAWAL</h5>
    <h5 class="py-2">Convenor</h5> 
</div>
</div>

<div class="col-xs-2 col-sm-3 col-md-3 col-lg-2 px-4 convenor_team">
    <div class="convenors_border">
    <div class="convenor_image animation">
        <img src="../../assets/images/conyenor.jpg" height="170" width="170" class="img-fluid px-1 pt-3">
    </div>
</div>
<div class="convenor_information mt-4 mb-2">
   <h5>MUSKAN AGRAWAL</h5>
   <h5 class="py-2">Convenor</h5>
</div>
</div>

<div class="col-xs-2 col-sm-3 col-md-3 col-lg-2 px-4 convenor_team">
    <div class="convenors_border">
    <div class="convenor_image animation">
        <img src="../../assets/images/conyenor.jpg" height="170" width="170" class="img-fluid px-1 pt-3">
    </div>
</div>
<div class="convenor_information mt-4 mb-2">
    <h5>MUSKAN AGRAWAL</h5>
    <h5 class="py-2">Convenor</h5> 
</div>
</div>

<div class="col-xs-2 col-sm-3 col-md-3 col-lg-2 px-4 convenor_team">
    <div class="convenors_border">
    <div class="convenor_image animation">
        <img src="../../assets/images/conyenor.jpg" height="170" width="170" class="img-fluid px-1 pt-3">
    </div>
</div>
<div class="convenor_information mt-4 mb-2">
    <h5>MUSKAN AGRAWAL</h5>
    <h5 class="py-2">Convenor</h5> 
</div>
</div>

<div class="col-xs-2 col-sm-3 col-md-3 col-lg-2 px-4 convenor_team">
    <div class="convenors_border">
    <div class="convenor_image animation">
        <img src="../../assets/images/conyenor.jpg" height="170" width="170" class="img-fluid px-1 pt-3">
    </div>
</div>
<div class="convenor_information mt-4 mb-2">
    <h5>MUSKAN AGRAWAL</h5>
    <h5 class="py-2">Convenor</h5> 
</div>
</div>
</div>
<!--/Convenors-->



</div>








<div class="workclose"><img src="../../assets/images/wavy2.png" width="" height="" alt=""/></div>

<!-- register -->
<div class="container abouttext" id="regis">
    <div class="idse18title">
        <h2 class="heading_gallary mb-4 text-uppercase" id="register_head">
            Register Yourself
        </h2>
    </div>

    <form (ngSubmit)="onSubmit(f)" #f="ngForm" autocomplete="off">
        <div class="container">
            <div class="row justify-content-center no-gutter regform">

                <div class="col-md-5">
                    <label class="lab" for="student_no">Student Number</label>
                    <div class="input-group mb-3">
                            <input type="text" class="form-control" id="student_no"
                                    #studentno='ngModel' ngModel required name="student_no"
                                    pattern="^[1][6789]\d{5}[dD]?$">
                    </div>
                    <div class='validation'
                            *ngIf="studentno.invalid && studentno.touched && studentno.dirty">
                            Invalid Student No.</div>
                    <div class='validation'
                            *ngIf="!studentno.valid && studentno.touched && !studentno.dirty">
                            Student No. can't be empty</div>
                </div>
                <div class="col-md-5">
                        <label class="lab" for="name">Donor Name</label>
                        <div class="input-group mb-3">
                                <input type="text" class="form-control" id="name" ngModel required
                                        name="name" pattern="^[a-zA-Z ]*$" #name='ngModel'>
                        </div>
                        <div class='validation' *ngIf="!name.valid && name.touched && name.dirty">
                                Invalid Full Name</div>
                        <div class='validation' *ngIf="!name.valid && name.touched && !name.dirty">Full
                                name can't be empty.</div>
                </div>
                          

            </div>

                    <div  class="row justify-content-center no-gutter regform">
                        <div class="col-md-10 mt-md-3 mt-2">
                            <label class="" for="course">Course</label>
                            <select name="course" id="course" class=" form-control" [(ngModel)]="selectedcourse"
                                    required name="course" (change)="selectOption($event.target.value)">
                                    <option *ngFor="let o of courses" [value]="o.name">
                                        {{o.name}}
                                    </option>
                            </select>
                    </div>
                </div>

                <div class="row justify-content-center no-gutter regform">
                    <div class="col-md-5 mt-md-3 mt-2">
                        <label class="lab" for="year">Year</label>
                        <select name="year" id="year" class=" form-control" [(ngModel)]="selectedyear"
                                required name="year">
                                <option value="1">1</option>
                                <option value="2" >2</option>
                                <option value="3" *ngIf="course !== 'MBA'">3</option>
                                <option value="4" *ngIf=" !(course === 'MCA' || course === 'MBA') ">4</option>
                        </select>
                </div>
                       
                        <div class="col-md-5 mt-md-3 mt-2">
                                <label class="lab" for="blood_group">Blood Group</label>
                                <select name="blood_group" id="blood_group" class=" form-control" [(ngModel)]="selectedbg"
                                        required>
                                        <option value="A+">A+</option>
                                        <option value="B+">B+</option>
                                        
                                </select>
                        </div>

                </div>
                <div class="row justify-content-center no-gutter regform">
                    <div class="col-md-5 mt-md-3 mt-2">
                            <label class="lab" for="gender">Gender</label>
                            <select name="gender" id="gender" class=" form-control" ngModel required
                                    name="gender">
                                    <option selected value="Male">Male</option>
                                    <option value="Female">Female</option>
                            </select>
                    </div>
                    <div class="col-md-5 mt-md-3 mt-2">
                            <label class="lab" for="hosteller">Hosteler</label>
                            <select name="hosteller" id="hosteller" class=" form-control" ngModel required>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                            </select>
                    </div>
            </div>

                    <div class="row justify-content-center no-gutter regform">

                            <div class="col-md-5 mt-md-3 mt-2">
                                    <label class="lab" for="contact_no">Contact number</label>
                                    <div class="input-group mb-3">
                                            <input type="text" class="form-control" id="contact_no"
                                                    #contactno='ngModel' ngModel required name="contact_no"
                                                    pattern="^[6789]\d{9}$">
                                    </div>
                                    <div class='validation'
                                            *ngIf="!contactno.valid && contactno.touched && contactno.dirty">Invalid
                                            Contact No.</div>
                                    <div class='validation'
                                            *ngIf="!contactno.valid && contactno.touched && !contactno.dirty">
                                            Contact No. can't be empty</div>

                            </div>
                            <div class="col-md-5 mt-md-3 mt-2">
                                    <label class="lab" for="email">E-mail</label>
                                    <div class="input-group mb-3">
                                            <input type="text" class="form-control" id="email" 
                                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" ngModel required
                                                    name="email" email #email='ngModel'>
                                    </div>
                                    <div class='validation' *ngIf="!email.valid && email.touched && email.dirty">
                                            Invalid E-mail</div>
                                    <div class='validation' *ngIf="!email.valid && email.touched && !email.dirty">
                                            E-mail can't be empty</div>
                            </div>
                    </div>
                    <div class="row justify-content-center no-gutter capbtn">
                        <re-captcha (resolved)="resolved($event)"
                                siteKey="6Lczi9wUAAAAACrgNOy5eh-m8GMrBfa-vL5X9_tA
                                " required class="captcha"
                                name="response" [(ngModel)]="recap"></re-captcha>
                    </div>
                    <div class="row justify-content-center no-gutter" style="margin-top:4%;">
                        <button type="submit" class="regis_btn" [disabled]="!(f.valid && recap)"
                                [hidden]="isHidden">Register</button>
                    </div>
            </div>

    </form>


</div>

<!-- /register -->


<div class="contactbanner">
<div class="contacttxt">
<h1 class="hideme">Anybody can give <span style="color:#EB1C24;">Blood</span></h1>
</div>
<div class="bannersplatfoot">
<div class="fluid">
</div>
<div class="fluiddark">
</div>
</div>
</div>

</div></div>
</main>